<button 
  [type]="type"
  [disabled]="disabled || loading"
  [class]="buttonClasses"
  (click)="onClick($event)"
>
  <!-- Loading spinner -->
  <div *ngIf="loading" class="btn-spinner">
    <svg width="16" height="16" viewBox="0 0 24 24" fill="none">
      <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-dasharray="60" stroke-dashoffset="60">
        <animate attributeName="stroke-dashoffset" values="60;0" dur="1s" repeatCount="indefinite"/>
      </circle>
    </svg>
  </div>

  <!-- Icon (left) -->
  <span *ngIf="icon && iconPosition === 'left' && !loading" class="btn-icon btn-icon-left">
    <svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
      <!-- You can expand this with an icon map or use dynamic icon loading -->
      <path *ngIf="icon === 'plus'" d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
      <path *ngIf="icon === 'search'" d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
      <path *ngIf="icon === 'edit'" d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
      <path *ngIf="icon === 'delete'" d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
      <path *ngIf="icon === 'save'" d="M17 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V7l-4-4zm-5 16c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3zm3-10H5V5h10v4z"/>
    </svg>
  </span>

  <!-- Button text -->
  <span class="btn-text">
    <ng-content></ng-content>
  </span>

  <!-- Icon (right) -->
  <span *ngIf="icon && iconPosition === 'right' && !loading" class="btn-icon btn-icon-right">
    <svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
      <path *ngIf="icon === 'arrow-right'" d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/>
      <path *ngIf="icon === 'external'" d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"/>
    </svg>
  </span>
</button>